<html>
    <Head>
        <title>Belajar</title>
    </Head>
    <body>
        <h1>Node Js</h1>
        <p>saya sedang belajar node js</p>
        <h2><a href="./profil">
            By {{nama}}</a></h2>
    </body>
</html>